<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Picture location</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MarkerCluster.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MarkerCluster.Default.css') }}"/>
  </head>
  <body>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.markercluster.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
        var map = Object.create(LocationMap);
        map.initialize('map', {{ centroid | safe }});
        map.addMarkers({{ rows | safe }});
    </script>
  </body>
</html>
